<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>支付页</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script>
    var appId = "wx5ee2acdc34ef926d";
    var timeStamp = parseInt(new Date().getTime()/1000).toString();
    var nonceStr = randomString();
    var value = JSON.parse(decodeURIComponent(getQueryVariable("value")));
    
    var stringSignTemp= "appId="+appId+"&nonceStr="+nonceStr+"&package="+value["package"]+"&signType=MD5&timeStamp="+timeStamp+"&key=grasseed12345678grasseed12345678";
    var sign = md5(stringSignTemp).toUpperCase();
    function randomString(e) {  
   	  e = e || 32;
   	  var t = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789",
   	  a = t.length,
   	  n = "";
   	  for (i = 0; i < e; i++) n += t.charAt(Math.floor(Math.random() * a));
   	  return n
   	}
    function getQueryVariable(variable){
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
        }
        return(false);
     }
     
    function onBridgeReady(){
    	   WeixinJSBridge.invoke(
    	      'getBrandWCPayRequest', {
    	         "appId": appId,     //公众号名称，由商户传入     
    	         "timeStamp": timeStamp,         //时间戳，自1970年以来的秒数     
    	         "nonceStr": nonceStr, //随机串     
    	         "package":value["package"],     
    	         "signType":"MD5",         //微信签名方式：     
    	         "paySign": sign //微信签名 
    	      },
    	      function(res){
    	      if(res.err_msg ==="get_brand_wcpay_request:ok" ){
    	          // 使用以上方式判断前端返回,微信团队郑重提示：
    	          //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
    	    	  window.location.href = "paySuccess?orderId="+getQueryVariable("orderId");
    	      } 
    	   }); 
    	}
    	if (typeof WeixinJSBridge === "undefined"){
    	   if( document.addEventListener ){
    	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
    	   }else if (document.attachEvent){
    	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
    	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
    	   }
    	}else{
    	   onBridgeReady();
    	}
   
    </script>
</head>
<body>
</body>
</html>